@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,500&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,500&family=DM+Serif+Display&display=swap');
   
body{
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    line-height: 1.50; 
    letter-spacing: 0.22px;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    /* background-color: burlywood; */
}
a {
    text-decoration: none;
}
/* -------------header -------------------- */
.header {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
}
.nav {
}
.nav-list {
    display: flex;
}
.nav-item{
    margin-right: 40px;
}
.nav-item a{
    color: #292F36;
    font-size: 20px;    
    letter-spacing: 0.4px;
}
.nav-item:hover a{
    color: #CDA274;
}
/* -------------banner -------------------- */
.banner {
    padding:188px 0 260px 0;
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 0px 290px;
    margin-bottom: 112px;
}
.banner-title {
    color: #292F36;
    font-family: DM Serif Display;
    font-size: 80px;
    line-height: 1.20; /* 120% */
    margin-bottom: 19px;
}
.banner-text {
    margin-bottom: 35px;
}
.banner-btn {
    background-color: #292F36;
    color:white;
    width: 207px;
    height: 71px;
    border-radius: 18px;
    border: none;
}
/* -------------fetures -------------------- */
.fetures {
  margin-bottom: 112px;
  border-radius: 15px;
  background-color: #F4F0EC;
  max-width: 1200px;
}
.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 37.5px;
}
.features-item {
  align-items: center;
  width: 33.33%;
  min-width: 300px;
}
.features-item p {
  margin: 12px 52px;
  color: #4D5053;
  text-align: center;
}
.features-item h3 {
  color: #292F36;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.22px;
}
/* -------------project -------------------- */
.project {
}
.wrap {
}
.project-title {
}
.project-text {
}
/* -------------brand -------------------- */
.brand {
}
.brand-list {
}
.brand-item {
}
/* -------------projects -------------------- */
.projects {
}
.projects-title {
}
.projects-text {
}
.projects-list {
}
.project-item {
}
/* -------------footer -------------------- */
.footer {
}
.footer-info {
}
.footer-logo {
}
.footer-text {
}
.social-list {
}
.social-item {
}
.footer-copyright {
}