@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,500&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,500&family=DM+Serif+Display&display=swap');
   
body{
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    line-height: 1.50; 
    letter-spacing: 0.22px;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    /* background-color: burlywood; */
}
a {
    text-decoration: none;
}
/* -------------header -------------------- */
.header {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
}
.nav-item{
    margin-right: 40px;
}
.nav-item a{
    color: #292F36;
    font-size: 20px;    
    letter-spacing: 0.4px;
}
.nav-item:hover a{
    color: #CDA274;
}
/* -------------banner -------------------- */
.banner {
    padding:188px 0 260px 0;
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 0px 290px;
    margin-bottom: 112px;
}
.banner-title {
    color: #292F36;
    font-family: DM Serif Display;
    font-size: 80px;
    line-height: 1.20; /* 120% */
    margin-bottom: 19px;
}
.banner-text {
    margin-bottom: 35px;
}
.banner-btn {
    background-color: #292F36;
    color:white;
    width: 207px;
    height: 71px;
    border-radius: 18px;
    border: none;
}
/* -------------fetures -------------------- */
.fetures {
  margin-bottom: 112px;
  border-radius: 15px;
  background-color: #F4F0EC;
}
.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 37.5px;
}
.features-item {
  align-items: center;
  width: 33.33%;
  min-width: 300px;
  padding: 75px 0;
}
.features-item p {
  margin: 12px 52px;
  color: #4D5053;
  text-align: center;
}
.features-item h3 {
  color: #292F36;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.22px;
}
/* -------------project -------------------- */
.project {
  display: flex;
  flex-direction: row;
  margin-bottom: 112px;
}
.project img {
  border-radius: 0 326px 0 123px;
  margin-left: 77px;
}
.wrap {
  position: relative;
}
.project-title {
  color: #292F36;
  font-size: 50px;
  line-height: 65px;
  margin-bottom: 42px;
}
.project-text {
  max-width: 531px;
}
.project-btn {
  position: absolute;
  bottom: 15px;
  background-color: #292F36;
  color:white;
  padding: 22px 50px;
  border-radius: 18px;
  border: none;
}
.project-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* -------------brand -------------------- */
.brand {
  border-radius: 25px;
  background: linear-gradient(0deg, #F4F0EC 0%, #F4F0EC 100%), #FFF;
  margin-bottom: 112px;
}
.brand-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 48px;
}
/* -------------projects -------------------- */
.projects {
  text-align: center;
  margin-bottom: 112px;
}
.projects-title {
  color: #292F36;
  font-size: 47px;
  margin-bottom: 15px;
}
.projects-text {
  color: #4D5053;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-item {
  margin: 20px;
  max-width: 560px;
}
.project-item img {
  border-radius: 0px 80px 0px 0px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.project-item h3 {
  color: #292F36;
  font-weight: 600;
  font-size: 24px;
  line-height: 37.5px;
}
/* -------------footer -------------------- */
.footer {
  background: linear-gradient(0deg, #F4F0EC 0%, #F4F0EC 100%), #FFF;
}
.footer-info {
  padding: 33px;
  max-width: 325px;
}
.footer-logo {
  margin-bottom: 25px;
}
.footer-text {
  margin-bottom: 25px;
}
.social-list {
  display: flex;
  flex-direction: row;
}
.social-item {
  margin-right: 40px;
}
.social-item a:hover > svg {
  fill: #CDA274;
}
.social-item svg {
  max-width: 20px;
}
.footer-copyright {
  padding: 25px 0;
  background: #0F0F0E;
  color: #CED1D4;
  text-align: center;
}
.footer-copyright a {
  color: #CDA274;
}